// Custom variables
// ---------------------

// Private classes
// NOTE name them `%selector` so they won't be public classes
// NOTE then use `@extend %selector;` to apply styles
// ---------------------
%antialiased { -webkit-font-smoothing: antialiased; }
%defaultaliasing { -webkit-font-smoothing: none; }
%unselectable { -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }


// Functions
// ---------------------


// Mixins
// ---------------------
