/**
 * Breakpoints
 * ------------------------------
 * Dependencies:
 * - $breakpoints
 *
 * How to use:

// @media (min-width: 420px) { … }
@include breakpoint-up(sm) { … }

// @media (max-width: 960px) { … }
@include breakpoint-down(lg) { … }

// @media (min-width: 420px) and (max-width: 959px) { … }
@include breakpoint-between(sm, lg) { … }

// @media (min-width: 640px) and (max-width: 959px) { … }
@include breakpoint-only(md) { … }

 */



// INTERNALS
// ------------------------------
$_breakpoints-keys: map-keys($breakpoints);
$_breakpoints-first: first($_breakpoints-keys);
$_breakpoints-last: last($_breakpoints-keys);



// MIXINS
// NOTE: breakpoints goes up by default, as we are mobile-first
// NOTE: breakpoints are converted in em in case the user zooms
// ------------------------------
// apply to current breakpoint and above
@mixin breakpoint-up($key) {
    @if $key == $_breakpoints-first { @content; }
    @else {
        @media (min-width: breakpoint($key)) {
            @content;
        }
    }
}

// apply to current breakpoint and below
@mixin breakpoint-down($key) {
    @if $key == $_breakpoints-last { @content; }
    @else {
        @media (max-width: breakpoint-max($key)) {
            @content;
        }
    }
}

// apply to first breakpoint until last breakpoint, included
@mixin breakpoint-between($min, $max) {
    @if $min == $_breakpoints-first { @include breakpoint-down($max); }
    @if $max == $_breakpoints-last { @include breakpoint-up($min); }
    @else {
        @media (min-width: breakpoint($min)) and (max-width: breakpoint-max($max)) {
            @content;
        }
    }
}

// apply to a specific breakpoint
@mixin breakpoint-only($key) {
    @include breakpoint-between($key, $key) {
        @content;
    }
}



// HELPERS
// ------------------------------
// retrieve breakpoint value
@function breakpoint($key) {
    @if map-has-key($breakpoints, $key) {
        @return map-get($breakpoints, $key) / 16px * 1em;
    }
    @warn "Unknown `#{$key}` in $breakpoints.";
    @return null;
}

// retrieve next breakpoint value
@function breakpoint-max($key) {
    $next: nth($_breakpoints-keys, index($_breakpoints-keys, $key)+1);
    @if map-has-key($breakpoints, $next) {
        @return breakpoint($next)-1;
    }
    @warn "Unknown `#{$next}` in $breakpoints.";
    @return null;
}
